# https://dart.dev/guides/libraries/private-files
# Created by https://www.toptal.com/developers/gitignore/api/flutter,dart,androidstudio,visualstudiocode,macos,windows,linux

### Flutter/Dart ###
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

### Android ###
.gradle/
local.properties
*.keystore
*.jks
project.skie/
.cxx/
*.apk
*.aab

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

### iOS ###
*.moved-aside
*.xcuserstate
*.xcworkspace
!default.xcworkspace
xcuserdata/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]

### IDE Specific ###
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

### OS Specific ###
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.fuse_hidden*
.directory
.trash

### Security/Environment ###
.env*
!*.example
